body {
  margin-left: 25px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

#morning-heading {
  color: black;
}
#morning-content {
  font-weight: bold;
}

#afternoon-heading {
  color: blue;
}

#afternoon-content {
  font-style: italic;
}

#evening {
  color: purple;
}