html, body {
  font: normal 16px Helvetica, Arial, sans-serif;
}

form *{
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
  margin: 0 auto;
  padding: 1rem;
  width: 600px;
}

label {
  line-height: 1.5rem;
}

input[type="text"],
input[type="email"],
textarea,
select {
  border: 1px solid #cecece;
  box-sizing: border-box;
  font-size: 14px;
  height: 30px;
  padding: 3px 10px;
  width: 100%;
}

textarea {
  height: auto;
  resize: vertical;
}

dl {
  margin-bottom: 20px;
}

dl.partial {
  box-sizing: border-box;
  display: inline-block;
}

dl.name {
  width: 50%;
}

dl.left {
  padding-right: 5px;
}

dl.right {
  padding-left: 5px;
}

dl.city {
  width: 50%;
}

dl.state {
  width: 20%;
}

dl.zip {
  padding-right: 0;
  width: 30%;
}

ul {
  list-style: none;
  margin: 20px 0;
  font-size: 0;
}

li {
  font-size: .9rem;
}

input[type="submit"],
input[type="reset"] {
  padding: 0px 5px;
}
